<html>
  <head>
    <title>SpiderServer</title>
  </head>
  <body>
    {{#each links}}
      <img src="https://dummyimage.com/600x400/4d383f/fff.png&text={{uuid}}" />
      <br>
      <a href="/{{uuid}}">{{uuid}}</a>
      <br>
    {{/each}}
  </body>
</html>