<html>
  <head>
    <title>SpiderServer</title>
  </head>
  <body>
    <form action="/settings" enctype="application/x-www-form-urlencoded" method="post">
      <textarea name="settings">{{settings}}</textarea>
      <input type="submit" />
    </form>
  </body>
</html>